@model FHP_VO.VO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FHP_web.styles.css" asp-append-version="true" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @* ---------------- bootstrap-icons CDN path*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    @*------------ tostr js *@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="nav-bar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button class="nav-link activeBtn" id="">
                                <a asp-controller="Home" asp-action="Index" class="nav-menu-link">
                                    Home
                                </a>
                            </button>
                        </li>
                        @* ------------------------------------- New / Edit / Delete / Clear search will be shown only after login*@
                        @if (Model != null && Model.signinUser != null)
                        {
                            <li class="nav-item">
                                <button class="activeBtn nav-menu-link" id="newBtn" onClick="GetTraineeData()" href="">New</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-menu-link disableBtn" id="editBtn" onClick="GetTraineeData()" href="">Edit</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-menu-link disableBtn" id="deleteBtn" onclick="deleteSelected()" href="">Delete</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-menu-link activeBtn" href="" id="clearAllFilters">Clear Search</button>
                            </li>
                            @* -------------- if user role is super admin then we will show the user controls*@
                            @if (Model.signinUser.Role == 1)
                            {
                                <li class="nav-item">
                                    <button class="nav-menu-link activeBtn" id="">
                                        <a asp-controller="User" asp-action="Index">
                                        User Management
                                        </a>
                                        </button>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <button class="nav-menu-link activeBtn" id="aboutUsBtn">
                                <a asp-controller="About" asp-action="Index" class="nav-menu-link">
                                    About Us
                                </a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="userInfo">

            @* ------------------------------ if the user logged in then we will show user id and a libnk gor logging out*@
            @if (Model != null && Model.signinUser != null)
            {
                <span>@Model.signinUser.Id</span>
                <a asp-controller="Home" asp-action="LogOut">Log Out</a>
            }
            else
            {
                <button id="signInBtn" onclick="SignInPopUp()">
                    sign in
                </button>
            }
        </div>
    </header>
    <h1 id="mainScreenScreen">Welcome to FHP</h1>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
