@model FHP_Res.Entity.UserModel

<form method="post" id="loginForm" action="/Home/RegisterationPage">
    @*
    <label>Role: </label> <br/>
     <select>
         <option value="">-- select role --</option>
         <option value="">Super Admin</option>
         <option value="">Admin</option>
         <option value="">Guest User</option>
         <option value="">Self</option>
     </select> 
    *@
    <br />
    <label asp-for="Id">Id: </label> <br />
    <input asp-for="Id" class="formInput" /> <br />
    <label asp-for="Password">Password: </label> <br />
    <input asp-for="Password" class="formInput" /> <br />
    <input type="submit" value="Register"/>
</form>
