@model FHP_Res.Entity.UserModel
@{
    Layout = null;
}
<style>
    #invalidUser {
        color: red;
    }
</style>
<form method="post" id="loginForm">
    <h4 id="invalidUser"></h4>
    <label asp-for="Id">Email: </label> <br />
    <input asp-for="Id" class="formInput" /> <br />
    <label asp-for="Password">Password: </label> <br />
    <input asp-for="Password" name="password" id="password" class="formInput" /> <br />
    <input asp-controller="Home" asp-action="SignInPage" type="submit" value="Sign In" />
    <button type="button" class="submitButton" id="registerBtn" onclick="GetRegisterationForm()">Register</button>
</form>